@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.formInput {
  @apply overflow-auto border-[1px] rounded-full mt-10 h-12 w-full border-red-200 pl-8 placeholder:text-red-300 focus:outline-none;
}

.formButton {
  @apply relative right-10 top-[11px] -mr-10 rounded-full bg-gradient-to-l from-red-300 to-red-200 w-28 h-12 shadow-lg shadow-red-200 hover:from-red-200 hover:to-red-100;
}